.checkout-component{
    background-color: $primarybackgroundcolor;
    padding-top: 75px!important;

    .checkout-row {
        .row{
            padding: 80px 0;
        }
    }

    .checkout-container {
        width: 75%;

        h2 {
            font: normal normal bold 32px/45px Montserrat;
            letter-spacing: 0px;
            color: $tertiarybackgroundcolor;
        }
    }
}