/* CONTACT - HERO */

.contact-hero-component{
    position: relative;
    min-height: 750px;
    background-color: $primarybackgroundcolor;
    padding-top: 100px;
    padding-bottom: 50px;

    .contact-hero-content-container{
        z-index: 1;
        padding-bottom: 50px;
        width: 100%;

        h1 {
            text-align: center;
            font: normal normal 600 60px/104px Montserrat;
            letter-spacing: 0px;
            color: $primarybackgroundcolor;
        }
    
        p {
            text-align: center;
            font: normal normal normal 29px/45px Montserrat;
            letter-spacing: 0px;
            color: $primarybackgroundcolor;
            width: 100%;
        }
    }

    .bg-image-container{
        width: 100%;
        position: absolute;
    
        img {
            width: 100%;
            filter: brightness(60%);
        }
    }
}

/* CONTACT - CONTACT FORM & MAP */

.contact-container {
    background-color: $primarybackgroundcolor;

    .row{
        padding: 80px 0;
        border-bottom: 1px solid $darktextcolor;

          
        .contact-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .contact-form-container {

            form {
                width: 100%;
            }
            
            .form-control{
                border-radius: 0;
                height: 40px;
                background-color: white;
                border-color: $tertiarybackgroundcolor;
                font: normal normal normal 16px/24px Montserrat;
                letter-spacing: 0px;
                color: $darktextcolor;
            }
            
            #messageInput {
                height: 128px;
            }
            
            .form-label{
                font: normal normal normal 16px/24px Montserrat;
                letter-spacing: 0px;
                color: $darktextcolor;
            }
            
            .contact-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            
                // Text
            
                .contact-form-container {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    text-align: left;
                    margin: 20px 0;
                }
            }

            a {
                .btn-primary{
                    width: 35%;
                    padding: 10px 10px;
                    font: normal normal normal 16px/24px Montserrat;
                    border-radius: 0;
                    border-color: $tertiarybackgroundcolor;
                    color: $primarybackgroundcolor;
                    background: $tertiarybackgroundcolor 0% 0% no-repeat padding-box;

                    &:hover {
                        background: $secondarybackgroundcolor 0% 0% no-repeat padding-box;
                        color: $tertiarybackgroundcolor;
                    }
                }

            }
        }
    }
}