/* HOMEPAGE - HERO */

.green-hero-component{
    position: relative;
    min-height: 500px;
    background-color: $primarybackgroundcolor;

    .green-hero-content-container{
        z-index: 1;
        padding-bottom: 50px;

        h1 {
            text-align: center;
            font: normal normal 600 60px/104px Montserrat;
            letter-spacing: 0px;
            color: $primarybackgroundcolor;
        }
    
        p {
            text-align: center;
            font: normal normal normal 16px/24px Montserrat;
            letter-spacing: 0px;
            color: $primarybackgroundcolor;
            width: 55%;
        }
    }

    .bg-image-container{
        width: 100%;
        position: absolute;
    
        img {
            width: 100%;
            filter: brightness(60%);
        }
    }
}

/* GREEN FEES - PAY AND PLAY 9-HOLE PAR 3 AND PAR 4 COURSES */

.payandplay9par3-component{
    background-color: $primarybackgroundcolor;

    .payandplay9par3-row {
        .row{
            padding-top: 80px;
        }
    }

    .payandplay9par3-container {
        width: 75%;
    
        .payandplay9par3-header-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            h2 {
                font: normal normal bold 32px/45px Montserrat;
                letter-spacing: 0px;
                color: $tertiarybackgroundcolor;
                margin: 0;
            }
    
            p {
                font: normal normal bold 16px/24px Montserrat;
                letter-spacing: 0px;
                color: $greytextcolor;
                margin: 0;
            }
        }
        
        .payandplay9par3-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 40px;
    
            p {
                font: normal normal normal 16px/24px Montserrat;
                letter-spacing: 0px;
                color: $darktextcolor;
                margin: 20px 0;
                width: 70%;
            }
        }
    }

    .cards-row {
        
        .card {
            background: $secondarybackgroundcolor 0% 0% no-repeat padding-box;
            border: 1px solid $tertiarybackgroundcolor;
            border-radius: 0;
        }
        
        .card-title {
            text-align: center;
            font: normal normal normal 24px/45px Montserrat;
            letter-spacing: 0px;
            color: $tertiarybackgroundcolor;
            margin: 0;
            padding: 15px 0;
        }

        p {
            text-align: center;
            font: normal normal bold 16px/45px Montserrat;
            letter-spacing: 0px;
            color: $tertiarybackgroundcolor;
        }

        .list-group {
            border-top: none;

            :first-child {
                font: normal normal 500 16px/24px Montserrat;
            }
        }

        .list-group-item {
            text-align: center;
            font: normal normal normal 15px/23px Montserrat;
            letter-spacing: 0px;
            color: $tertiarybackgroundcolor;
            background: $secondarybackgroundcolor 0% 0% no-repeat padding-box;

            .btn-primary{
                padding: 8px 0;
                width: 65%;
                font: normal normal normal 16px/24px Montserrat;
                border-radius: 0;
                border-color: $tertiarybackgroundcolor;
                color: $tertiarybackgroundcolor;
                background: $secondarybackgroundcolor 0% 0% no-repeat padding-box;

                &:hover {
                    background: $tertiarybackgroundcolor 0% 0% no-repeat padding-box;
                    color: $secondarybackgroundcolor;
                }
            }
        }
    }
}

/* GREEN FEES - PAY AND PLAY 9-HOLE PAR 4 COURSE */

/* .payandplay9par4-component{
    background-color: $primarybackgroundcolor;

    .payandplay9par4-row {
        .row{
            padding-top: 80px;
        }
    }

    .payandplay9par4-container {
        width: 75%;
    
        .payandplay9par4-header-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            h2 {
                font: normal normal bold 32px/45px Montserrat;
                letter-spacing: 0px;
                color: $tertiarybackgroundcolor;
                margin: 0;
            }
    
            p {
                font: normal normal bold 16px/24px Montserrat;
                letter-spacing: 0px;
                color: $greytextcolor;
                margin: 0;
            }
        }
        
        .payandplay9par4-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 40px;
    
            p {
                font: normal normal normal 16px/24px Montserrat;
                letter-spacing: 0px;
                color: $darktextcolor;
                margin: 20px 0;
                width: 80%;
            }
        }
    }

    .cards-row {
        
        .card {
            background: $secondarybackgroundcolor 0% 0% no-repeat padding-box;
            border: 1px solid $tertiarybackgroundcolor;
            border-radius: 0;
        }
        
        .card-title {
            text-align: center;
            font: normal normal normal 24px/45px Montserrat;
            letter-spacing: 0px;
            color: $tertiarybackgroundcolor;
            margin: 0;
            padding: 15px 0;
        }

        p {
            text-align: center;
            font: normal normal bold 16px/45px Montserrat;
            letter-spacing: 0px;
            line-height: 25px;
            color: $tertiarybackgroundcolor;
        }

        .list-group {
            border-top: none;

            :first-child {
                font: normal normal 500 16px/24px Montserrat;
            }
        }

        .list-group-item {
            text-align: center;
            font: normal normal normal 15px/23px Montserrat;
            letter-spacing: 0px;
            color: $tertiarybackgroundcolor;
            background: $secondarybackgroundcolor 0% 0% no-repeat padding-box;

            .btn-primary{
                padding: 8px 0;
                width: 65%;
                font: normal normal normal 16px/24px Montserrat;
                border-radius: 0;
                border-color: $tertiarybackgroundcolor;
                color: $tertiarybackgroundcolor;
                background: $secondarybackgroundcolor 0% 0% no-repeat padding-box;
            }
        }
    }
} */

/* GREEN FEES - 18-HOLE COURSE */

.hole18-component{
    background-color: $primarybackgroundcolor;

    .hole18-row {
        .row{
            padding-top: 80px;
        }
    }

    .hole18-container {
        width: 75%;
    
        .hole18-header-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            h2 {
                font: normal normal bold 32px/45px Montserrat;
                letter-spacing: 0px;
                color: $tertiarybackgroundcolor;
                margin: 0;
            }
    
            p {
                font: normal normal bold 16px/24px Montserrat;
                letter-spacing: 0px;
                color: $greytextcolor;
                margin: 0;
            }
        }
        
        .hole18-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 40px;
    
            p {
                font: normal normal normal 16px/24px Montserrat;
                letter-spacing: 0px;
                color: $darktextcolor;
                margin: 20px 0;
                width: 85%;
            }
        }
    }

    .cards-row {
        
        .card {
            background: $secondarybackgroundcolor 0% 0% no-repeat padding-box;
            border: 1px solid $tertiarybackgroundcolor;
            border-radius: 0;
        }
        
        .card-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font: normal normal normal 24px/45px Montserrat;
            letter-spacing: 0px;
            color: $tertiarybackgroundcolor;
            margin: 0;
            padding: 15px 0;
        }

        p {
            width: 75%;
            text-align: center;
            font: normal normal bold 16px/45px Montserrat;
            letter-spacing: 0px;
            line-height: 25px;
            color: $tertiarybackgroundcolor;
        }

        .list-group {
            border-top: none;

            :first-child {
                font: normal normal 500 16px/24px Montserrat;
            }
        }

        .list-group-item {
            text-align: center;
            font: normal normal normal 15px/23px Montserrat;
            letter-spacing: 0px;
            color: $tertiarybackgroundcolor;
            background: $secondarybackgroundcolor 0% 0% no-repeat padding-box;

            .btn-primary{
                padding: 8px 0;
                width: 65%;
                font: normal normal normal 16px/24px Montserrat;
                border-radius: 0;
                border-color: $tertiarybackgroundcolor;
                color: $tertiarybackgroundcolor;
                background: $secondarybackgroundcolor 0% 0% no-repeat padding-box;

                &:hover {
                    background: $tertiarybackgroundcolor 0% 0% no-repeat padding-box;
                    color: $secondarybackgroundcolor;
                }
            }
        }
    }
}