.order-component{
    background-color: $primarybackgroundcolor;
    padding-top: 100px;

    .order-row {
        .row{
            padding: 80px 0;
        }
    }

    .order-container {
        width: 75%;
    }
}